# fpc264irc r3.1 — Linux i386 configuration
# Use: bin/ppc386 @bin/fpc-linux.cfg myapp.pas
#
# -Fl is needed on x86_64 hosts to find 32-bit libc.
# LibDL='c' in dl.pp means no -ldl needed.

-Tlinux
-Fu$FPCDIR/units/i386-linux
-Fl/usr/lib/i386-linux-gnu
