-Fu/home/claude/fpc264irc_final/bin/units/$fpctarget
-Fu/home/claude/fpc264irc_final/bin/units/$fpctarget/*
#ifdef cpui386
-Fl/usr/lib/i386-linux-gnu
#endif
#ifdef cpux86_64
-Fl/usr/lib/x86_64-linux-gnu
#endif
